# What is Machine Learning?
* It's teaching machines how to learn. You input the data while the machine writes the function/model/algorithm, identifies patterns from the data then makes predictions.

## Scikit-Learn (sklearn) Workflow
* Get the data ready
* Pick a model that suits your problem
* Fit the model to the data and make a prediction
* Evaluate the model
* Improve the model through experimentation
* Save and reload your trained model

## 0. Getting the data ready

In [13]:
import pandas as pd
import numpy as np
heart_disease = pd.read_csv('heart-disease.csv')
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [14]:
#create a variable (features matrix) to store other columns except target which will be designated to a different variable
    # create an x variable(drop every other column except target)
x = heart_disease.drop('target', axis=1)
    # create a y variable to store target
y = heart_disease['target']

In [15]:
#2. choose the right model and hyperparameters
    #using random forest
from sklearn.ensemble import RandomForestClassifier
#instantiate the classifier
clf = RandomForestClassifier()
#keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [16]:
#3. Fit the model to the training data
from sklearn.model_selection import train_test_split
#allocate the testing and trainign data
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

In [17]:
#find the patterns in the training data by fitting the data to the model
clf.fit(x_train, y_train);

In [19]:
#make a prediction
y_label = clf.predict(np.array([1,2,4,5,6,0,9]))

C:\Users\this\Desktop\allntbks\testnb1\env\lib\site-packages\sklearn\base.py:445: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

ValueError: Expected 2D array, got 1D array instead:
array=[1. 2. 4. 5. 6. 0. 9.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [21]:
# because x_train looks nothing like the numpy array given, check x_test, see if it fits then use it if it does
x_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
144,76,0,2,140,197,0,2,116,0,1.1,1,0,2
89,58,0,0,100,248,0,0,122,0,1.0,1,0,2
151,71,0,0,112,149,0,1,125,0,1.6,1,0,2
44,39,1,2,140,321,0,0,182,0,0.0,2,0,2
76,51,1,2,125,245,1,0,166,0,2.4,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,48,1,0,124,274,0,0,166,0,0.5,1,0,3
238,77,1,0,125,304,0,0,162,1,0.0,2,3,2
68,44,1,1,120,220,0,1,170,0,0.0,2,0,2
213,61,0,0,145,307,0,0,146,1,1.0,1,0,3
33,54,1,2,125,273,0,0,152,0,0.5,0,1,2

In [22]:
x_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
67,45,0,1,130,234,0,0,175,0,0.6,1,0,2
273,58,1,0,100,234,0,1,156,0,0.1,2,1,3
73,51,1,0,140,261,0,0,186,1,0.0,2,0,2
220,63,0,0,150,407,0,0,154,0,4.0,1,3,3
262,53,1,0,123,282,0,1,95,1,2.0,1,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,58,1,1,125,220,0,1,144,0,0.4,1,4,3
146,44,0,2,118,242,0,1,149,0,0.3,1,1,2
232,55,1,0,160,289,0,0,145,1,0.8,1,1,3
284,61,1,0,140,207,0,0,138,1,1.9,2,1,3
279,61,1,0,138,166,0,0,125,1,3.6,1,1,2

In [25]:
y_predicts = clf.predict(x_test);
y_predicts

array([1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1,
       0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0,
       1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 0, 0], dtype=int64)

In [26]:
#the outcome of 0s and 1s looks weird. however the next step will put it to the test

In [28]:
#4. evaluate the model on the learning and training data
clf.score(x_train, y_train)
#the above returns the mean accuracy on the given test data

1.0

In [29]:
#cross evaluating the model with the test data it hasn't seen before (x and y axis data)
clf.score(x_test, y_test)

0.7692307692307693

In [30]:
#what above outcome indicates is that the algorithm got 76.9% out of a 100% correct which is good in spite never being exposed to the x_test and y_test data before

In [35]:
#further evaluation with different metrics
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

# now compare the y_test with the y_preds(prediction)
print(classification_report(y_test, y_predicts))

              precision    recall  f1-score   support

           0       0.89      0.66      0.76        50
           1       0.69      0.90      0.78        41

    accuracy                           0.77        91
   macro avg       0.79      0.78      0.77        91
weighted avg       0.80      0.77      0.77        91

In [37]:
confusion_matrix(y_test, y_predicts)

array([[33, 17],
       [ 4, 37]], dtype=int64)

In [38]:
accuracy_score(y_test, y_predicts)

0.7692307692307693

In [40]:
#5. improve the model
# try different amounts of n_estimators
np.random.seed(42)
for i in range(10, 100, 10):
    print(f'Trying model with {i} estimators')
    clf = RandomForestClassifier(n_estimators=i).fit(x_train,y_train)
    print(f'Model accuracy on test set: {clf.score(x_test, y_test) * 100:.2f}%')
    print("")

Trying model with 10 estimators
Model accuracy on test set: 79.12%

Trying model with 20 estimators
Model accuracy on test set: 79.12%

Trying model with 30 estimators
Model accuracy on test set: 78.02%

Trying model with 40 estimators
Model accuracy on test set: 79.12%

Trying model with 50 estimators
Model accuracy on test set: 80.22%

Trying model with 60 estimators
Model accuracy on test set: 80.22%

Trying model with 70 estimators
Model accuracy on test set: 76.92%

Trying model with 80 estimators
Model accuracy on test set: 78.02%

Trying model with 90 estimators
Model accuracy on test set: 78.02%

In [41]:
#6. save the model and load it
import pickle

pickle.dump(clf, open('random_forest_model_1.pkl', 'wb'))

In [ ]:
#load the saved model
loaded_model = pickle.load(open'random_forest_model_1.pkl', 'rb')