# What is Machine Learning?
* It's teaching machines how to learn. You input the data while the machine writes the function/model/algorithm, identifies patterns from the data then makes predictions.

## Scikit-Learn (sklearn) Workflow
* Get the data ready
* Pick a model that suits your problem
* Fit the model to the data and make a prediction
* Evaluate the model
* Improve the model through experimentation
* Save and reload your trained model

## 0. Getting the data ready

In [24]:
#standard imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#to show the plots in d notebook
%matplotlib inline

In [25]:
heart_disease = pd.read_csv('heart-disease.csv')
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [26]:
#create a variable (features matrix) to store other columns except target which will be designated to a different variable
    # create an x variable(drop every other column except target)
x = heart_disease.drop('target', axis=1)
    # create a y variable to store target
y = heart_disease['target']

In [27]:
#2. choose the right model and hyperparameters
    #using random forest
from sklearn.ensemble import RandomForestClassifier
#instantiate the classifier
clf = RandomForestClassifier()
#keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [28]:
#3. Fit the model to the training data
from sklearn.model_selection import train_test_split
#allocate the testing and trainign data
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

In [29]:
# getting rid of warnings or other warning-related ops
import warnings
warnings.filterwarnings('ignore')

In [30]:
#show scikit-learn version
import sklearn
sklearn.show_versions()

System:
    python: 3.9.7 (default, Sep 16 2021, 16:59:28) [MSC v.1916 64 bit (AMD64)]
executable: C:\Users\this\Desktop\allntbks\testnb1\env\python.exe
   machine: Windows-10-10.0.22000-SP0

Python dependencies:
          pip: 21.2.4
   setuptools: 58.0.4
      sklearn: 1.0.1
        numpy: 1.21.2
        scipy: 1.7.1
       Cython: None
       pandas: 1.3.4
   matplotlib: 3.5.0
       joblib: 1.1.0
threadpoolctl: 2.2.0

Built with OpenMP: True

In [31]:
#find the patterns in the training data by fitting the data to the model
clf.fit(x_train, y_train);

In [32]:
#make a prediction
y_label = clf.predict(np.array([1,2,4,5,6,0,9]))

ValueError: Expected 2D array, got 1D array instead:
array=[1. 2. 4. 5. 6. 0. 9.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [33]:
# because x_train looks nothing like the numpy array given, check x_test, see if it fits then use it if it does
x_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
236,58,1,0,125,300,0,0,171,0,0.0,2,2,3
80,41,1,2,112,250,0,1,179,0,0.0,2,0,2
86,68,1,2,118,277,0,1,151,0,1.0,2,1,3
192,54,1,0,120,188,0,1,113,0,1.4,1,1,3
264,54,1,0,110,206,0,0,108,1,0.0,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
50,51,0,2,130,256,0,0,149,0,0.5,2,0,2
229,64,1,2,125,309,0,1,131,1,1.8,1,0,3
37,54,1,2,150,232,0,0,165,0,1.6,2,0,3
157,35,1,1,122,192,0,1,174,0,0.0,2,0,2
237,60,1,0,140,293,0,0,170,0,1.2,1,2,3

In [34]:
x_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
186,60,1,0,130,253,0,1,144,1,1.4,2,1,3
101,59,1,3,178,270,0,0,145,0,4.2,0,0,3
131,49,0,1,134,271,0,1,162,0,0.0,1,0,2
129,74,0,1,120,269,0,0,121,1,0.2,2,1,2
106,69,1,3,160,234,1,0,131,0,0.1,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2
133,41,1,1,110,235,0,1,153,0,0.0,2,0,2
256,58,1,0,128,259,0,0,130,1,3.0,1,2,3
247,66,1,1,160,246,0,1,120,1,0.0,1,3,1
201,60,1,0,125,258,0,0,141,1,2.8,1,1,3

In [35]:
y_predicts = clf.predict(x_test);
y_predicts

array([0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1,
       0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       0, 0, 0], dtype=int64)

In [36]:
#the outcome of 0s and 1s looks weird. however the next step will put it to the test

In [37]:
#4. evaluate the model on the learning and training data
clf.score(x_train, y_train)
#the above returns the mean accuracy on the given test data

1.0

In [38]:
#cross evaluating the model with the test data it hasn't seen before (x and y axis data)
clf.score(x_test, y_test)

0.8021978021978022

In [39]:
#what above outcome indicates is that the algorithm got 76.9% out of a 100% correct which is good in spite never being exposed to the x_test and y_test data before

In [40]:
#further evaluation with different metrics
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

# now compare the y_test with the y_preds(prediction)
print(classification_report(y_test, y_predicts))

              precision    recall  f1-score   support

           0       0.86      0.70      0.78        44
           1       0.76      0.89      0.82        47

    accuracy                           0.80        91
   macro avg       0.81      0.80      0.80        91
weighted avg       0.81      0.80      0.80        91

In [41]:
confusion_matrix(y_test, y_predicts)

array([[31, 13],
       [ 5, 42]], dtype=int64)

In [42]:
accuracy_score(y_test, y_predicts)

0.8021978021978022

In [43]:
#5. improve the model
# try different amounts of n_estimators
np.random.seed(42)
for i in range(10, 100, 10):
    print(f'Trying model with {i} estimators')
    clf = RandomForestClassifier(n_estimators=i).fit(x_train,y_train)
    print(f'Model accuracy on test set: {clf.score(x_test, y_test) * 100:.2f}%')
    print("")

Trying model with 10 estimators
Model accuracy on test set: 81.32%

Trying model with 20 estimators
Model accuracy on test set: 82.42%

Trying model with 30 estimators
Model accuracy on test set: 84.62%

Trying model with 40 estimators
Model accuracy on test set: 84.62%

Trying model with 50 estimators
Model accuracy on test set: 81.32%

Trying model with 60 estimators
Model accuracy on test set: 84.62%

Trying model with 70 estimators
Model accuracy on test set: 83.52%

Trying model with 80 estimators
Model accuracy on test set: 84.62%

Trying model with 90 estimators
Model accuracy on test set: 81.32%

In [44]:
#6. save the model and load it
import pickle

pickle.dump(clf, open('random_forest_model_1.pkl', 'wb'))

In [45]:
#load the saved model
loaded_model = pickle.load(open('random_forest_model_1.pkl', 'rb'))

#run the model
loaded_model.score(x_test,y_test)

0.8131868131868132

## An Indepth Look into Scikit_learn's Workfolow

## 1. Getting Data Ready to be Used with Machine Learning

### Three things to do here are:
* split the data into features & labels ('x' & 'y')
* Filling (aka imputing) or disregarding missing values
* Converting non-numerical values to numerical values AKA feature encoding

In [51]:
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [53]:
# features
x = heart_disease.drop('target', axis=1)
x.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [56]:
# labels
y = heart_disease['target']
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [57]:
# split data into training and test subsets from the dataset
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [59]:
#the result below shows that 80% of the dataset has been allocated to the training subsets
x_train.shape, y_train.shape, x_test.shape, y_test.shape

((242, 13), (242,), (61, 13), (61,))

### 1. Import a new Dataset and Make Sure it's all Numerical

In [61]:
car_sales = pd.read_csv('car-sales-extended.csv')
car_sales

       Make Colour  Odometer (KM)  Doors  Price
0     Honda  White          35431      4  15323
1       BMW   Blue         192714      5  19943
2     Honda  White          84714      4  28343
3    Toyota  White         154365      4  13434
4    Nissan   Blue         181577      3  14043
..      ...    ...            ...    ...    ...
995  Toyota  Black          35820      4  32042
996  Nissan  White         155144      3   5716
997  Nissan   Blue          66604      4  31570
998   Honda  White         215883      4   4001
999  Toyota   Blue         248360      4  12732

[1000 rows x 5 columns]

In [64]:
car_sales.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price             int64
dtype: object

#### Before you can write a machine learning model, you've to convert your dataset to numbers

In [65]:
# split into features and labels
x = car_sales.drop('Price', axis=1)
y = car_sales['Price']

In [66]:
x

       Make Colour  Odometer (KM)  Doors
0     Honda  White          35431      4
1       BMW   Blue         192714      5
2     Honda  White          84714      4
3    Toyota  White         154365      4
4    Nissan   Blue         181577      3
..      ...    ...            ...    ...
995  Toyota  Black          35820      4
996  Nissan  White         155144      3
997  Nissan   Blue          66604      4
998   Honda  White         215883      4
999  Toyota   Blue         248360      4

[1000 rows x 4 columns]

In [67]:
y

0      15323
1      19943
2      28343
3      13434
4      14043
       ...
995    32042
996     5716
997    31570
998     4001
999    12732
Name: Price, Length: 1000, dtype: int64

In [68]:
# split into training and test sets
x_train, y_train, x_test, y_test = train_test_split(x, y, test_size=0.3)

In [69]:
#build machine learning model
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()
#fit: train the model
model.fit(x_train, y_train)
#score: test the model
model.score(x_test, y_test)

ValueError: could not convert string to float: 'Toyota'

In [ ]:
# convert strings to numbers so the model can understand it