# What is Machine Learning?
* It's teaching machines how to learn. You input the data while the machine writes the function/model/algorithm, identifies patterns from the data then makes predictions.

## Scikit-Learn (sklearn) Workflow
* Get the data ready
* Pick a model that suits your problem
* Fit the model to the data and make a prediction
* Evaluate the model
* Improve the model through experimentation
* Save and reload your trained model

## 0. Getting the data ready

In [1]:
#standard imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#to show the plots in d notebook
%matplotlib inline

In [2]:
heart_disease = pd.read_csv('heart-disease.csv')
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [3]:
#create a variable (features matrix) to store other columns except target which will be designated to a different variable
    # create an x variable(drop every other column except target)
x = heart_disease.drop('target', axis=1)
    # create a y variable to store target
y = heart_disease['target']

In [4]:
#2. choose the right model and hyperparameters
    #using random forest
from sklearn.ensemble import RandomForestClassifier
#instantiate the classifier
clf = RandomForestClassifier()
#keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [5]:
#3. Fit the model to the training data
from sklearn.model_selection import train_test_split
#allocate the testing and trainign data
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

In [6]:
# getting rid of warnings or other warning-related ops
import warnings
warnings.filterwarnings('ignore')

In [7]:
#show scikit-learn version
import sklearn
sklearn.show_versions()

System:
    python: 3.9.7 (default, Sep 16 2021, 16:59:28) [MSC v.1916 64 bit (AMD64)]
executable: C:\Users\this\Desktop\allntbks\testnb1\env\python.exe
   machine: Windows-10-10.0.22000-SP0

Python dependencies:
          pip: 21.2.4
   setuptools: 58.0.4
      sklearn: 1.0.1
        numpy: 1.21.2
        scipy: 1.7.1
       Cython: None
       pandas: 1.3.4
   matplotlib: 3.5.0
       joblib: 1.1.0
threadpoolctl: 2.2.0

Built with OpenMP: True

In [8]:
#find the patterns in the training data by fitting the data to the model
clf.fit(x_train, y_train);

In [9]:
#make a prediction
y_label = clf.predict(np.array([1,2,4,5,6,0,9]))

ValueError: Expected 2D array, got 1D array instead:
array=[1. 2. 4. 5. 6. 0. 9.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [10]:
# because x_train looks nothing like the numpy array given, check x_test, see if it fits then use it if it does
x_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
286,59,1,3,134,204,0,1,162,0,0.8,2,2,2
226,62,1,1,120,281,0,0,103,0,1.4,1,1,3
236,58,1,0,125,300,0,0,171,0,0.0,2,2,3
271,61,1,3,134,234,0,1,145,0,2.6,1,2,2
164,38,1,2,138,175,0,1,173,0,0.0,2,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,62,0,0,140,394,0,0,157,0,1.2,1,0,2
235,51,1,0,140,299,0,1,173,1,1.6,2,0,3
180,55,1,0,132,353,0,1,132,1,1.2,1,1,3
36,54,0,2,135,304,1,1,170,0,0.0,2,0,2
158,58,1,1,125,220,0,1,144,0,0.4,1,4,3

In [11]:
x_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
182,61,0,0,130,330,0,0,169,0,0.0,2,0,2
210,57,1,2,128,229,0,0,150,0,0.4,1,1,3
168,63,1,0,130,254,0,0,147,0,1.4,1,1,3
134,41,0,1,126,306,0,1,163,0,0.0,2,0,2
244,56,1,0,132,184,0,0,105,1,2.1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,47,1,2,108,243,0,1,152,0,0.0,2,0,2
114,55,1,1,130,262,0,1,155,0,0.0,2,0,2
133,41,1,1,110,235,0,1,153,0,0.0,2,0,2
21,44,1,2,130,233,0,1,179,1,0.4,2,0,2
60,71,0,2,110,265,1,0,130,0,0.0,2,1,2

In [12]:
y_predicts = clf.predict(x_test);
y_predicts

array([1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0,
       1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1,
       1, 1, 1], dtype=int64)

In [13]:
#the outcome of 0s and 1s looks weird. however the next step will put it to the test

In [14]:
#4. evaluate the model on the learning and training data
clf.score(x_train, y_train)
#the above returns the mean accuracy on the given test data

1.0

In [15]:
#cross evaluating the model with the test data it hasn't seen before (x and y axis data)
clf.score(x_test, y_test)

0.8021978021978022

In [16]:
#what above outcome indicates is that the algorithm got 76.9% out of a 100% correct which is good in spite never being exposed to the x_test and y_test data before

In [17]:
#further evaluation with different metrics
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

# now compare the y_test with the y_preds(prediction)
print(classification_report(y_test, y_predicts))

              precision    recall  f1-score   support

           0       0.79      0.79      0.79        43
           1       0.81      0.81      0.81        48

    accuracy                           0.80        91
   macro avg       0.80      0.80      0.80        91
weighted avg       0.80      0.80      0.80        91

In [18]:
confusion_matrix(y_test, y_predicts)

array([[34,  9],
       [ 9, 39]], dtype=int64)

In [19]:
accuracy_score(y_test, y_predicts)

0.8021978021978022

In [20]:
#5. improve the model
# try different amounts of n_estimators
np.random.seed(42)
for i in range(10, 100, 10):
    print(f'Trying model with {i} estimators')
    clf = RandomForestClassifier(n_estimators=i).fit(x_train,y_train)
    print(f'Model accuracy on test set: {clf.score(x_test, y_test) * 100:.2f}%')
    print("")

Trying model with 10 estimators
Model accuracy on test set: 70.33%

Trying model with 20 estimators
Model accuracy on test set: 78.02%

Trying model with 30 estimators
Model accuracy on test set: 81.32%

Trying model with 40 estimators
Model accuracy on test set: 81.32%

Trying model with 50 estimators
Model accuracy on test set: 80.22%

Trying model with 60 estimators
Model accuracy on test set: 80.22%

Trying model with 70 estimators
Model accuracy on test set: 82.42%

Trying model with 80 estimators
Model accuracy on test set: 83.52%

Trying model with 90 estimators
Model accuracy on test set: 82.42%

In [21]:
#6. save the model and load it
import pickle

pickle.dump(clf, open('random_forest_model_1.pkl', 'wb'))

In [22]:
#load the saved model
loaded_model = pickle.load(open('random_forest_model_1.pkl', 'rb'))

#run the model
loaded_model.score(x_test,y_test)

0.8241758241758241

## An Indepth Look into Scikit_learn's Workfolow

## 1. Getting Data Ready to be Used with Machine Learning

### Three things to do here are:
* split the data into features & labels ('x' & 'y')
* Filling (aka imputing) or disregarding missing values
* Converting non-numerical values to numerical values AKA feature encoding

In [23]:
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [24]:
# features
x = heart_disease.drop('target', axis=1)
x.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [25]:
# labels
y = heart_disease['target']
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [26]:
# split data into training and test subsets from the dataset
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [27]:
#the result below shows that 80% of the dataset has been allocated to the training subsets
x_train.shape, y_train.shape, x_test.shape, y_test.shape

((242, 13), (242,), (61, 13), (61,))

### 1. Import a new Dataset and Make Sure it's all Numerical

In [28]:
car_sales = pd.read_csv('car-sales-extended.csv')
car_sales

       Make Colour  Odometer (KM)  Doors  Price
0     Honda  White          35431      4  15323
1       BMW   Blue         192714      5  19943
2     Honda  White          84714      4  28343
3    Toyota  White         154365      4  13434
4    Nissan   Blue         181577      3  14043
..      ...    ...            ...    ...    ...
995  Toyota  Black          35820      4  32042
996  Nissan  White         155144      3   5716
997  Nissan   Blue          66604      4  31570
998   Honda  White         215883      4   4001
999  Toyota   Blue         248360      4  12732

[1000 rows x 5 columns]

In [29]:
car_sales.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price             int64
dtype: object

#### Before you can write a machine learning model, you've to convert your dataset to numbers

In [30]:
# split into features and labels
x = car_sales.drop('Price', axis=1)
y = car_sales['Price']

In [31]:
x

       Make Colour  Odometer (KM)  Doors
0     Honda  White          35431      4
1       BMW   Blue         192714      5
2     Honda  White          84714      4
3    Toyota  White         154365      4
4    Nissan   Blue         181577      3
..      ...    ...            ...    ...
995  Toyota  Black          35820      4
996  Nissan  White         155144      3
997  Nissan   Blue          66604      4
998   Honda  White         215883      4
999  Toyota   Blue         248360      4

[1000 rows x 4 columns]

In [32]:
y

0      15323
1      19943
2      28343
3      13434
4      14043
       ...
995    32042
996     5716
997    31570
998     4001
999    12732
Name: Price, Length: 1000, dtype: int64

In [33]:
# split into training and test sets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((700, 4), (300, 4), (700,), (300,))

In [34]:
# Note: x test and train must be side by side for the model to run successfully

In [35]:
#build machine learning model
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()
#fit: train the model
# model.fit(x_train, y_train)
#score: test the model
# model.score(x_test, y_test)

In [36]:
car_sales

       Make Colour  Odometer (KM)  Doors  Price
0     Honda  White          35431      4  15323
1       BMW   Blue         192714      5  19943
2     Honda  White          84714      4  28343
3    Toyota  White         154365      4  13434
4    Nissan   Blue         181577      3  14043
..      ...    ...            ...    ...    ...
995  Toyota  Black          35820      4  32042
996  Nissan  White         155144      3   5716
997  Nissan   Blue          66604      4  31570
998   Honda  White         215883      4   4001
999  Toyota   Blue         248360      4  12732

[1000 rows x 5 columns]

In [37]:
# convert strings to numbers so the model can understand it
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ['Make', 'Colour', 'Doors']
one_hot = OneHotEncoder()
transformer = ColumnTransformer([('one_hot',
                                one_hot,
                                categorical_features)],
                               remainder='passthrough')

# transform the x subset
transformed_x = transformer.fit_transform(x)
transformed_x

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]])

In [38]:
x

       Make Colour  Odometer (KM)  Doors
0     Honda  White          35431      4
1       BMW   Blue         192714      5
2     Honda  White          84714      4
3    Toyota  White         154365      4
4    Nissan   Blue         181577      3
..      ...    ...            ...    ...
995  Toyota  Black          35820      4
996  Nissan  White         155144      3
997  Nissan   Blue          66604      4
998   Honda  White         215883      4
999  Toyota   Blue         248360      4

[1000 rows x 4 columns]

In [39]:
# ColumnTransformer accepts two arguments:
    # a list containing a tuple of a string referencing the variable hodling OneHotEncoder, the variable itself and the subset to be converted to binary form by OneHotEncoder
    #outside the list: a command of what is to happen to the unspecified subset
    
#every four digits represent the name of a heading
# all colours are converted to RGB values
# pd.DataFrame(transformed_x)

In [40]:
# another way to convert a subset into binary format is with the use of the get_dummies(dataset[['col_names']]) method
dummies = pd.get_dummies(car_sales[['Make', 'Colour', 'Doors']])
dummies

,Doors,Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White
0,4,0,1,0,0,0,0,0,0,1
1,5,1,0,0,0,0,1,0,0,0
2,4,0,1,0,0,0,0,0,0,1
3,4,0,0,0,1,0,0,0,0,1
4,3,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...
995,4,0,0,0,1,1,0,0,0,0
996,3,0,0,1,0,0,0,0,0,1
997,4,0,0,1,0,0,1,0,0,0
998,4,0,1,0,0,0,0,0,0,1
999,4,0,0,0,1,0,1,0,0,0

In [41]:
# refit the model
np.random.seed(42)

x_train, x_test, y_train, y_test = train_test_split(transformed_x, y, test_size=0.2)
model.fit(x_train, y_train)
model.score(x_test, y_test)

0.3235867221569877

In [42]:
# x_test.shape, x_train.shape, y_train.shape, y_test.shape

In [43]:
x.head()

     Make Colour  Odometer (KM)  Doors
0   Honda  White          35431      4
1     BMW   Blue         192714      5
2   Honda  White          84714      4
3  Toyota  White         154365      4
4  Nissan   Blue         181577      3

##1.2 How to Handle Missing Data
* Fill them with some value AKA imputation
* Remove the samples with missing data

In [44]:
#import the dataset
missing_car_sales_data = pd.read_csv('datasets/car-sales-extended-missing-data.csv')
missing_car_sales_data

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [45]:
#to find missing values
missing_car_sales_data.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

### Option 1: Fill missing data witg pandas

In [46]:
# fill Make column
missing_car_sales_data['Make'].fillna('Missing', inplace=True)

#fill Colour column
missing_car_sales_data['Colour'].fillna('Missing', inplace=True)

#fill missing Odometer
missing_car_sales_data['Odometer (KM)'].fillna(missing_car_sales_data['Odometer (KM)'].mean(), inplace=True)

#fill Doors: the average car has 4 doors
missing_car_sales_data['Doors'].fillna(4, inplace=True)

#fill missing Price
# missing_car_sales_data['Price'].fillna(missing_car_sales_data['Price'].mean(), inplace=True)

# check missing values
missing_car_sales_data.isna().sum()

Make              0
Colour            0
Odometer (KM)     0
Doors             0
Price            50
dtype: int64

In [47]:
#remove rows with missing price values
missing_car_sales_data.dropna(inplace=True)

In [48]:
missing_car_sales_data.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [49]:
#create subsets
x = missing_car_sales_data.drop('Price', axis=1)
y = missing_car_sales_data['Price']

In [50]:
x

        Make Colour  Odometer (KM)  Doors
0      Honda  White        35431.0    4.0
1        BMW   Blue       192714.0    5.0
2      Honda  White        84714.0    4.0
3     Toyota  White       154365.0    4.0
4     Nissan   Blue       181577.0    3.0
..       ...    ...            ...    ...
995   Toyota  Black        35820.0    4.0
996  Missing  White       155144.0    3.0
997   Nissan   Blue        66604.0    4.0
998    Honda  White       215883.0    4.0
999   Toyota   Blue       248360.0    4.0

[950 rows x 4 columns]

In [51]:
y

0      15323.0
1      19943.0
2      28343.0
3      13434.0
4      14043.0
        ...
995    32042.0
996     5716.0
997    31570.0
998     4001.0
999    12732.0
Name: Price, Length: 950, dtype: float64

In [52]:
#convert the dataset to numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ['Make', 'Colour', 'Doors']
one_hot_enc = OneHotEncoder()
#transform categorical_features to 0s nd 1s using OneHotEncoder
transformer = ColumnTransformer([('one_hot_enc',
                               one_hot_enc,
                               categorical_features)],
                               remainder = 'passthrough')

transformed_x = transformer.fit_transform(missing_car_sales_data)
transformed_x

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        3.54310e+04, 1.53230e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        1.92714e+05, 1.99430e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        8.47140e+04, 2.83430e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        6.66040e+04, 3.15700e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        2.15883e+05, 4.00100e+03],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        2.48360e+05, 1.27320e+04]])

In [ ]:
#option 2: fill missing values with scikit-learn

In [53]:
#reinstantiate the missing_car_sales_data dataset
missing_car_sales_data1 = pd.read_csv('datasets/car-sales-extended-missing-data.csv')
missing_car_sales_data1

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [54]:
#look for missing values
missing_car_sales_data1.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [57]:
#drop rows with missing data
missing_car_sales_data1.dropna(subset=['Price'], inplace=True)
missing_car_sales_data1.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
Price             0
dtype: int64

In [ ]:
# split into x and y
x = missing_car_sales_data1.drop('Price', inplace=True)
y = missing_car_sales_data1