# What is Machine Learning?
* It's teaching machines how to learn. You input the data while the machine writes the function/model/algorithm, identifies patterns from the data then makes predictions.

## Scikit-Learn (sklearn) Workflow
* Get the data ready
* Pick a model that suits your problem
* Fit the model to the data and make a prediction
* Evaluate the model
* Improve the model through experimentation
* Save and reload your trained model

## 0. Getting the data ready

In [1]:
#standard imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#to show the plots in d notebook
%matplotlib inline

In [2]:
heart_disease = pd.read_csv('heart-disease.csv')
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [3]:
#create a variable (features matrix) to store other columns except target which will be designated to a different variable
    # create an x variable(drop every other column except target)
x = heart_disease.drop('target', axis=1)
    # create a y variable to store target
y = heart_disease['target']

In [4]:
#2. choose the right model and hyperparameters
    #using random forest
from sklearn.ensemble import RandomForestClassifier
#instantiate the classifier
clf = RandomForestClassifier()
#keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [5]:
#3. Fit the model to the training data
from sklearn.model_selection import train_test_split
#allocate the testing and trainign data
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

In [6]:
# getting rid of warnings or other warning-related ops
import warnings
warnings.filterwarnings('ignore')

In [7]:
#show scikit-learn version
import sklearn
sklearn.show_versions()

System:
    python: 3.9.7 (default, Sep 16 2021, 16:59:28) [MSC v.1916 64 bit (AMD64)]
executable: C:\Users\this\Desktop\allntbks\testnb1\env\python.exe
   machine: Windows-10-10.0.22000-SP0

Python dependencies:
          pip: 21.2.4
   setuptools: 58.0.4
      sklearn: 1.0.1
        numpy: 1.21.2
        scipy: 1.7.1
       Cython: None
       pandas: 1.3.4
   matplotlib: 3.5.0
       joblib: 1.1.0
threadpoolctl: 2.2.0

Built with OpenMP: True

In [8]:
#find the patterns in the training data by fitting the data to the model
clf.fit(x_train, y_train);

In [9]:
#make a prediction
# y_label = clf.predict(np.array([1,2,4,5,6,0,9]))

In [10]:
# because x_train looks nothing like the numpy array given, check x_test, see if it fits then use it if it does
x_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
75,55,0,1,135,250,0,0,161,0,1.4,1,0,2
34,51,1,3,125,213,0,0,125,1,1.4,2,1,2
159,56,1,1,130,221,0,0,163,0,0.0,2,0,3
284,61,1,0,140,207,0,0,138,1,1.9,2,1,3
52,62,1,2,130,231,0,1,146,0,1.8,1,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,57,1,0,132,207,0,1,168,1,0.0,2,0,3
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
268,54,1,0,122,286,0,0,116,1,3.2,1,2,2
224,54,1,0,110,239,0,1,126,1,2.8,1,1,3
155,58,0,0,130,197,0,1,131,0,0.6,1,0,2

In [11]:
x_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
188,50,1,2,140,233,0,1,163,0,0.6,1,1,3
53,44,0,2,108,141,0,1,175,0,0.6,1,0,2
180,55,1,0,132,353,0,1,132,1,1.2,1,1,3
149,42,1,2,130,180,0,1,150,0,0.0,2,0,2
271,61,1,3,134,234,0,1,145,0,2.6,1,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,42,0,0,102,265,0,0,122,0,0.6,1,0,2
99,53,1,2,130,246,1,0,173,0,0.0,2,3,2
218,65,1,0,135,254,0,0,127,0,2.8,1,1,3
157,35,1,1,122,192,0,1,174,0,0.0,2,0,2
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3

In [12]:
y_predicts = clf.predict(x_test);
y_predicts

array([1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0,
       1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1,
       0, 1, 1], dtype=int64)

In [13]:
#the outcome of 0s and 1s looks weird. however the next step will put it to the test

In [14]:
#4. evaluate the model on the learning and training data
clf.score(x_train, y_train)
#the above returns the mean accuracy on the given test data

1.0

In [15]:
#cross evaluating the model with the test data it hasn't seen before (x and y axis data)
clf.score(x_test, y_test)

0.8241758241758241

In [16]:
#what above outcome indicates is that the algorithm got 76.9% out of a 100% correct which is good in spite never being exposed to the x_test and y_test data before

In [17]:
#further evaluation with different metrics
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

# now compare the y_test with the y_preds(prediction)
print(classification_report(y_test, y_predicts))

              precision    recall  f1-score   support

           0       0.82      0.79      0.80        42
           1       0.82      0.86      0.84        49

    accuracy                           0.82        91
   macro avg       0.82      0.82      0.82        91
weighted avg       0.82      0.82      0.82        91

In [18]:
confusion_matrix(y_test, y_predicts)

array([[33,  9],
       [ 7, 42]], dtype=int64)

In [19]:
accuracy_score(y_test, y_predicts)

0.8241758241758241

In [20]:
#5. improve the model
# try different amounts of n_estimators
np.random.seed(42)
for i in range(10, 100, 10):
    print(f'Trying model with {i} estimators')
    clf = RandomForestClassifier(n_estimators=i).fit(x_train,y_train)
    print(f'Model accuracy on test set: {clf.score(x_test, y_test) * 100:.2f}%')
    print("")

Trying model with 10 estimators
Model accuracy on test set: 69.23%

Trying model with 20 estimators
Model accuracy on test set: 83.52%

Trying model with 30 estimators
Model accuracy on test set: 82.42%

Trying model with 40 estimators
Model accuracy on test set: 81.32%

Trying model with 50 estimators
Model accuracy on test set: 83.52%

Trying model with 60 estimators
Model accuracy on test set: 79.12%

Trying model with 70 estimators
Model accuracy on test set: 80.22%

Trying model with 80 estimators
Model accuracy on test set: 83.52%

Trying model with 90 estimators
Model accuracy on test set: 82.42%

In [21]:
#6. save the model and load it
import pickle

pickle.dump(clf, open('random_forest_model_1.pkl', 'wb'))

In [22]:
#load the saved model
loaded_model = pickle.load(open('random_forest_model_1.pkl', 'rb'))

#run the model
loaded_model.score(x_test,y_test)

0.8241758241758241

## An Indepth Look into Scikit_learn's Workfolow

## 1. Getting Data Ready to be Used with Machine Learning

### Three things to do here are:
* split the data into features & labels ('x' & 'y')
* Filling (aka imputing) or disregarding missing values
* Converting non-numerical values to numerical values AKA feature encoding

In [23]:
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [24]:
# features
x = heart_disease.drop('target', axis=1)
x.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [25]:
# labels
y = heart_disease['target']
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [26]:
# split data into training and test subsets from the dataset
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [27]:
#the result below shows that 80% of the dataset has been allocated to the training subsets
x_train.shape, y_train.shape, x_test.shape, y_test.shape

((242, 13), (242,), (61, 13), (61,))

### 1. Import a new Dataset and Make Sure it's all Numerical

In [28]:
car_sales = pd.read_csv('car-sales-extended.csv')
car_sales

       Make Colour  Odometer (KM)  Doors  Price
0     Honda  White          35431      4  15323
1       BMW   Blue         192714      5  19943
2     Honda  White          84714      4  28343
3    Toyota  White         154365      4  13434
4    Nissan   Blue         181577      3  14043
..      ...    ...            ...    ...    ...
995  Toyota  Black          35820      4  32042
996  Nissan  White         155144      3   5716
997  Nissan   Blue          66604      4  31570
998   Honda  White         215883      4   4001
999  Toyota   Blue         248360      4  12732

[1000 rows x 5 columns]

In [29]:
car_sales.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price             int64
dtype: object

#### Before you can write a machine learning model, you've to convert your dataset to numbers

In [30]:
# split into features and labels
x = car_sales.drop('Price', axis=1)
y = car_sales['Price']

In [31]:
x

       Make Colour  Odometer (KM)  Doors
0     Honda  White          35431      4
1       BMW   Blue         192714      5
2     Honda  White          84714      4
3    Toyota  White         154365      4
4    Nissan   Blue         181577      3
..      ...    ...            ...    ...
995  Toyota  Black          35820      4
996  Nissan  White         155144      3
997  Nissan   Blue          66604      4
998   Honda  White         215883      4
999  Toyota   Blue         248360      4

[1000 rows x 4 columns]

In [32]:
y

0      15323
1      19943
2      28343
3      13434
4      14043
       ...
995    32042
996     5716
997    31570
998     4001
999    12732
Name: Price, Length: 1000, dtype: int64

In [33]:
# split into training and test sets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((700, 4), (300, 4), (700,), (300,))

In [34]:
# Note: x test and train must be side by side for the model to run successfully

In [35]:
# #build machine learning model
# from sklearn.ensemble import RandomForestRegressor

# model = RandomForestRegressor()
# #fit: train the model
# model.fit(x_train, y_train)
# #score: test the model
# model.score(x_test, y_test)

In [36]:
car_sales

       Make Colour  Odometer (KM)  Doors  Price
0     Honda  White          35431      4  15323
1       BMW   Blue         192714      5  19943
2     Honda  White          84714      4  28343
3    Toyota  White         154365      4  13434
4    Nissan   Blue         181577      3  14043
..      ...    ...            ...    ...    ...
995  Toyota  Black          35820      4  32042
996  Nissan  White         155144      3   5716
997  Nissan   Blue          66604      4  31570
998   Honda  White         215883      4   4001
999  Toyota   Blue         248360      4  12732

[1000 rows x 5 columns]

In [37]:
# convert strings to numbers so the model can understand it
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ['Make', 'Colour', 'Doors']
one_hot = OneHotEncoder()
transformer = ColumnTransformer([('one_hot',
                                one_hot,
                                categorical_features)],
                               remainder='passthrough')

# transform the x subset
transformed_x = transformer.fit_transform(x)
transformed_x

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]])

In [38]:
x

       Make Colour  Odometer (KM)  Doors
0     Honda  White          35431      4
1       BMW   Blue         192714      5
2     Honda  White          84714      4
3    Toyota  White         154365      4
4    Nissan   Blue         181577      3
..      ...    ...            ...    ...
995  Toyota  Black          35820      4
996  Nissan  White         155144      3
997  Nissan   Blue          66604      4
998   Honda  White         215883      4
999  Toyota   Blue         248360      4

[1000 rows x 4 columns]

In [39]:
# ColumnTransformer accepts two arguments:
    # a list containing a tuple of a string referencing the variable hodling OneHotEncoder, the variable itself and the subset to be converted to binary form by OneHotEncoder
    #outside the list: a command of what is to happen to the unspecified subset
    
#every four digits represent the name of a heading
# all colours are converted to RGB values
# pd.DataFrame(transformed_x)

In [40]:
# another way to convert a subset into binary format is with the use of the get_dummies(dataset[['col_names']]) method
dummies = pd.get_dummies(car_sales[['Make', 'Colour', 'Doors']])
dummies

,Doors,Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White
0,4,0,1,0,0,0,0,0,0,1
1,5,1,0,0,0,0,1,0,0,0
2,4,0,1,0,0,0,0,0,0,1
3,4,0,0,0,1,0,0,0,0,1
4,3,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...
995,4,0,0,0,1,1,0,0,0,0
996,3,0,0,1,0,0,0,0,0,1
997,4,0,0,1,0,0,1,0,0,0
998,4,0,1,0,0,0,0,0,0,1
999,4,0,0,0,1,0,1,0,0,0

In [41]:
# refit the model
np.random.seed(42)

x_train, x_test, y_train, y_test = train_test_split(transformed_x, y, test_size=0.2)
model.fit(x_train, y_train)
model.score(x_test, y_test)

NameError: name 'model' is not defined

In [ ]:
# x_test.shape, x_train.shape, y_train.shape, y_test.shape

In [ ]:
x.head()

##1.2 How to Handle Missing Data
* Fill them with some value AKA imputation
* Remove the samples with missing data

In [ ]:
#import the dataset
missing_car_sales_data = pd.read_csv('datasets/car-sales-extended-missing-data.csv')
missing_car_sales_data

In [ ]:
#to find missing values
missing_car_sales_data.isna().sum()

### Option 1: Fill missing data witg pandas

In [ ]:
# fill Make column
missing_car_sales_data['Make'].fillna('Missing', inplace=True)

#fill Colour column
missing_car_sales_data['Colour'].fillna('Missing', inplace=True)

#fill missing Odometer
missing_car_sales_data['Odometer (KM)'].fillna(missing_car_sales_data['Odometer (KM)'].mean(), inplace=True)

#fill Doors: the average car has 4 doors
missing_car_sales_data['Doors'].fillna(4, inplace=True)

#fill missing Price
# missing_car_sales_data['Price'].fillna(missing_car_sales_data['Price'].mean(), inplace=True)

# check missing values
missing_car_sales_data.isna().sum()

In [ ]:
#remove rows with missing price values
missing_car_sales_data.dropna(inplace=True)

In [ ]:
missing_car_sales_data.isna().sum()

In [ ]:
#create subsets
x = missing_car_sales_data.drop('Price', axis=1)
y = missing_car_sales_data['Price']

In [ ]:
x

In [ ]:
y

In [ ]:
#convert the dataset to numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ['Make', 'Colour', 'Doors']
one_hot_enc = OneHotEncoder()
#transform categorical_features to 0s nd 1s using OneHotEncoder
transformer = ColumnTransformer([('one_hot_enc',
                               one_hot_enc,
                               categorical_features)],
                               remainder = 'passthrough')

transformed_x = transformer.fit_transform(missing_car_sales_data)
transformed_x

In [ ]:
#option 2: fill missing values with scikit-learn

In [ ]:
#reinstantiate the missing_car_sales_data dataset
missing_car_sales_data1 = pd.read_csv('datasets/car-sales-extended-missing-data.csv')
missing_car_sales_data1

In [ ]:
#look for missing values
missing_car_sales_data1.isna().sum()

In [ ]:

#drop rows with missing data
missing_car_sales_data1.dropna(subset=['Price'], inplace=True)
missing_car_sales_data1.isna().sum()

In [ ]:
# split into x and y
x = missing_car_sales_data1.drop('Price', axis=1)
y = missing_car_sales_data1['Price']

In [ ]:


x

In [ ]:
y

In [ ]:
#deal with missing data with scikit-learn
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

#fill categorical values with "missing and numerical values with mean"
categorical_imputer = SimpleImputer(strategy='constant', fill_value='missing')
door_imputer = SimpleImputer(strategy='constant', fill_value=4)
numerical_importer = SimpleImputer(strategy='mean')

#define columns
categorical_features = ['Make', 'Colour']
door_feature = ['Doors']
numerical_features = ['Odometer (KM)']

#create an imputer (this will fill in missing values: columntransformer)
imputer = ColumnTransformer([
    ('categorical_imputer', categorical_imputer, categorical_features),
    ('door_imputer', door_imputer, door_feature),
    ('numerical_imputer', numerical_importer, numerical_features)
])

# transform the data
filled_x = imputer.fit_transform(x)
filled_x

In [ ]:
missing_car_sales_data1.isna().sum()

In [ ]:
# create a new variable to hold the filled dataset
filled_car_sales_data = pd.DataFrame(filled_x,
                                    columns=['Make', 'Colour', 'Odometer (KM)', 'Doors'])
filled_car_sales_data

In [ ]:
filled_car_sales_data.isna().sum()

In [ ]:
#convert the new dataset to numbers using OneHotEncoder and ColumnTransformer
categorical_features = ['Make', 'Colour', 'Doors']
one_hot_enc = OneHotEncoder()
transformer = ColumnTransformer([('one_hot_enc',
                                 one_hot_enc,
                                 categorical_features)],
                                 remainder='passthrough')

transformed_x = transformer.fit_transform(filled_car_sales_data)
transformed_x

In [ ]:
#Now fit a model
np.random.seed(42)

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(transformed_x, y, test_size=0.2)

#setup the model
model = RandomForestRegressor()
model.fit(x_train, y_train)
model.score(x_test, y_test)

In [ ]:
#save the model with pickle
pickle.dump(model, open('random_forest_regressor_model_1.pkl', 'wb'))

## Choosing the Right Model/Algorithm/Estimator for Your Problem

### 2. Some things worth knowing are:
* scikit-learn refers to models/algorithms as estimators
        ** Estimators are broken into classifiers and regressors
            *** Classification problem: predicting a category (such as who had or didnt have a heart disease  from the previous model that was worked on). It's sometimes denoted as 'clf' (classifier) which is used as a classification estimator
            *** Regression Problem: used for predicting numbers (price of a car)
            
* If you're confused as to which model best suits your problem, refer to this scikit-learn map: https://scikit-learn.org/stable/tutorial/machine_learning_map/index.html

* To get practice datasets, go to : sklearn datasets on google

### 2.1 Picking a machine learning model for a regression problem

#### The dataset used in this exercise was gotten from: https://scikit-learn.org/stable/modules/generated/sklearn.datasets.fetch_california_housing.html#sklearn.datasets.fetch_california_housing

In [ ]:
## The goal of this project is to use the other data to predict the MedHouseval
#get california housing dataset from sklearn
from sklearn.datasets import fetch_california_housing

housing = fetch_california_housing()
housing

In [ ]:
# turn the dataset to a dataframe: use the dictionary's key and column to frame it
housing_df = pd.DataFrame(housing['data'], columns=housing['feature_names'])
housing_df

In [ ]:
# get the target_names

housing_df['MedHouseVal'] = housing['target']
housing_df['Target'] = housing_df['MedHouseVal']
housing_df = housing_df.drop('MedHouseVal', axis=1)
housing_df.head(7)

In [ ]:





#import the algorithm
from sklearn.linear_model import Ridge

#setup random seed
np.random.seed(42)

#create the data
x = housing_df.drop('Target', axis=1)
y = housing_df['Target']

#split the data
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

#instantiate and fit the model to the training set
ridge_model = Ridge()
ridge_model.fit(x_train, y_train)
ridge_model.score(x_test, y_test)

In [ ]:
# using a different model for the same dataset
from sklearn.linear_model import ElasticNet

#instantiate the model
Elnet_model = ElasticNet()

#create the data
x = housing_df.drop('Target', axis=1)
y = housing_df['Target']

#split the data
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

# fit the data to the model
Elnet_model.fit(x_train, y_train)
Elnet_model.score(x_test, y_test)

In [ ]:

#trying Lasso
from sklearn.linear_model import Lasso

las = Lasso()

x = housing_df.drop('Target', axis=1)
y = housing_df['Target']

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

las.fit(x_train, y_train)
las.score(x_test, y_test)

In [ ]:
# trying the Support Vector Regression Model
from sklearn.svm import SVR

svr = SVR()

x = housing_df.drop('Target', axis=1)
y = housing_df['Target']

x_train, x_test, y_train, y_test = train_test_split(x ,y, test_size=0.2)

svr.fit(x_train, y_train)
svr.score(x_test, y_test)

In [ ]:
#using RandomForestRegressor: a type of ensemble model (an ensemble model is a combination of smaller models to make one prediction)
# a Random Forest is a combination of multiple Decision Trees whose branches are split into YES?NO
from sklearn.ensemble import RandomForestRegressor

rfr_model = RandomForestRegressor()

x = housing_df.drop('Target', axis=1)
y = housing_df['Target']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

rfr_model.fit(x_train, y_train)
rfr_model.score(x_test, y_test)





### 2.2 Picking an ml model for a classification model

In [ ]:
#getting a dataset that u used earlier
heart_disease = pd.read_csv('heart-disease.csv')
heart_disease

In [ ]:
# going by the map, the LinearSVC is the best bet
from sklearn.svm import LinearSVC

svc = LinearSVC()

np.random.seed(42)

#make the data
x = heart_disease.drop('target', axis=1)
y = heart_disease['target']

#split the data
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

#fit the model to the train sets
svc.fit(x_train,y_train)
svc.score(x_test, y_test)

In [ ]:
#using the Gaussian naive_bayes model
from sklearn.naive_bayes import GaussianNB

clf_gaussian = GaussianNB()
x = heart_disease.drop('target', axis=1)
y = heart_disease['target']

x_train, x_test, y_train, y_test = train_test_split(x , y, test_size=0.3)

clf_gaussian.fit(x_train, y_train)
clf_gaussian.score(x_test, y_test)

In [ ]:
#trying out the multinomialnb model
# from sklearn.naive_bayes import MultinomialNB

# clf_multi = MultinomialNB()

# x = heart_disease.drop('target', axis=1)
# y = heart_disease['target']

# x_train, y_train, x_test, y_test = train_test_split(x, y, test_size=1)

# clf_multi.fit(x_train, y_train)
# clf_multi.score(x_test, y_test)

In [ ]:
# using randomforestclassifier
from sklearn.ensemble import RandomForestClassifier

clf_rfc = RandomForestClassifier()

x = heart_disease.drop('target', axis=1)
y = heart_disease['target']

x_train, x_test, y_train, y_test = train_test_split(x , y, test_size=0.3)

clf_rfc.fit(x_train, y_train)
clf_rfc.score(x_test, y_test)

Note the following:
    If you have structured data [in a table], use ensemble methods
    If you have unstructured data, use deep learning hor transfer learning

In [ ]:
# # using kneighborsclassifier
# from sklearn.neighbors import KNeighborsClassifier

# clf_knc = KNeighborsClassifier()

# x = heart_disease.drop('target', axis=1)
# y = heart_disease['target']

# x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

# clf_knc.fit(x_train, y_train)
# clf_knc.score(x_test, y_test)

In [ ]:
# Fit the model/algorithm and use it to make predictions on out data

#### 3. Usibng a Model to Make Predictions

There are 2 ways to make predictions namely:
1. predict()
2. predict_proba()

In [ ]:

x_test

In [ ]:

# Use a trained model to make predictions: using clf_rfc.
clf_rfc.predict(x_test)

In [ ]:
# y_test is the truth label
np.array([y_test])

In [ ]:
# compare predictions with truth label to evaluate the authenticity of the label
y_preds = clf_rfc.predict(x_test)
#now compare the truth (ground truth) label
np.mean(y_preds == y_test)

In [ ]:
# another way to evaluate this is by importing accuracy_score
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_preds)

##### Make predictions with predict_proba() function
predict_proba() returns probabilities of a classification model

In [ ]:
clf_rfc.predict(x_test[:7])

In [ ]:
clf_rfc.predict_proba(x_test[:7])

In [ ]:
# setting up a rfr model for the housing_df dataset
from sklearn.ensemble import RandomForestRegressor
rfr_model = RandomForestRegressor()

x = housing_df.drop('Target', axis=1)
y = housing_df['Target']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

#fit the train set to the model
rfr_model.fit(x_train, y_train)

#make predictions
y_preds = rfr_model.predict(x_test)

In [ ]:
#now run the the function
y_preds[:10]

In [ ]:
np.array(y_test[:10])

In [ ]:
#what the result of the code below means is that there is a prediction per test data
len(y_preds), len(y_test)

In [ ]:
# mean absolute error: the average difference between the predicted value and the true value
#compare the prediction to the truth -> evaluation
from sklearn.metrics import mean_absolute_error

mean_absolute_error(y_test, y_preds)

what the above value means is that there's a difference of the figures above (average) between what was predicted by my model and the actual values in the ground label

## 4. Evaluating a Machine Learning Model
 
There are three ways to evaluate an ML model:
    1. Estimator's built-in 'score()' method
    2. The 'Scoring' parameter
    3. Problem-specific metric functions
    
The three methods can be found at the following address: https://scikit-learn.org/stable/modules/model_evaluation.html

### 4.1 Evaluating a Model with the Score Method

In [ ]:
from sklearn.ensemble import RandomForestClassifier

np.random.seed(42)
rfc = RandomForestClassifier()

x = heart_disease.drop('target', axis=1)
y = heart_disease['target']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

rfc.fit(x_train, y_train)
rfc.score(x_test, y_test)

In [ ]:
# using the score method on a regression problem
from sklearn.ensemble import RandomForestRegressor

rfr = RandomForestRegressor()

x = housing_df.drop('Target', axis=1)
y = housing_df['Target']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

rfr.fit(x_train, y_train)
rfr.score(x_test, y_test)

### Evaluating a Machine Learning Model (Score Validation)

In [ ]:
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier

np.random.seed(42)

rfc = RandomForestClassifier()

x = heart_disease.drop('target', axis=1)
y = heart_disease['target']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

rfc.fit(x_train, y_train)

#using the score method
rfc.score(x_test, y_test)

In [ ]:
#evaluating using cross_val_score
cross_val_score(rfc, x, y)

In [ ]:
# cross validation tests five folds of the same model and generates different outcomes of five floats in an array
# you could have it carry out tests in more or less than 5 folds
cross_val_score(rfc, x, y, cv=7)

In [ ]:
# take the mean value of cross_val_score
np.random.seed(42)

rfc_single = rfc.score(x_test, y_test)

#calculate the mean of cvs
rfc_cross = np.mean(cross_val_score(rfc, x, y))

#compare the value of both
rfc_single, rfc_cross

### 4.2.1 Classification Model Evaluation Metrics

Below are metrics that will be delved into here:

1. accuracy
2. Area under ROC curve
3. confusion matrix
4. classification report

** Accuracy

In [ ]:
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier

np.random.seed(42)
rfc = RandomForestClassifier()

x = heart_disease.drop('target', axis=1)
y = heart_disease['target']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

# since a cross_val_score is what's needed, no need to fit the data
cvs = cross_val_score(rfc, x, y)

In [ ]:
#get the mean value of cvs
np.mean(cvs)

In [ ]:
#print it in an understandable way
# what output below means it that my model, using this model on the dataset, will make 8 out of 10 correct predictions per time
print(f'Heart Disease Classifier Cross-validated Accuracy: {np.mean(cvs) * 100:.2f}%')

** Area Under the Receiver Operating Characteristic Curve (AUC/ROC)

Area Under Curve (AUC) or ROC Curve (ROC) are used interchangeably to mean a comparison of a model's true positive rate (TPR) VS a model's false positive rate (FPR).

* True positive: Model predicts 1 while actual value is 1
* False positive: model predicts 1 while actual value is 0
* True negative: model predicts 0 while actual is 0
* False negative: model predicts 0  while actual is 1

In [ ]:
# import it using sckikit learn's metricsw library
from sklearn.metrics import roc_curve

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

#fit the classifier
rfc.fit(x_train, y_train)

#make predictions with probabilities
y_probs = rfc.predict_proba(x_test)

y_probs[:12]

In [ ]:
heart_disease[:12]

In [ ]:
# I only want to get predictions on index 1 (positive)
y_probs_positive = y_probs[:, 1]
y_probs_positive[:12]

In [ ]:
# calculate fpr, tpr and thresholds
fpr, tpr, thresholds = roc_curve(y_test, y_probs_positive)

In [ ]:
#check the fpr
fpr

In [ ]:
# create a function for creating ROC curves
import matplotlib.pyplot as plt

def plot_roc_curve(fpr, tpr):
    """
    this functions plots a ROC curve with the True Positive Rate (TPR) and False Positive Rate (fpr)
    """
    #plot the a ROC curve
    plt.plot(fpr, tpr, color='teal', label='ROC')
    #plot line with no predictive power (baseline)
    plt.plot([0,1], [0,1], color='orange', linestyle='--', label='Guesses')
    
    #customize the plot
    plt.xlabel('False Positive Rate (fpr)')
    plt.ylabel('True Positive Rate (tpr)')
    plt.title('Receiver Operating Characterisitc')
    plt.legend()
    plt.show()
    
plot_roc_curve(fpr, tpr)

In [ ]:
#the next thing is to find where the most ideal curve will go by importing and using roc_auc_score
from sklearn.metrics import roc_auc_score

roc_auc_score(y_test, y_probs_positive)

In [ ]:
#a perfect roc curve of 1 can be plotted by using a single value
fpr, tpr, thresholds = roc_curve(y_test, y_test)
plot_roc_curve(fpr, tpr)

In [ ]:
#getting a perfect auc score
roc_auc_score(y_test, y_test)

#### Confusion Matrix

A confusion matrix is a way to compare the labels a model predicts with the actual labels it is supposed to predict.

In other words, it gives you an idea of where the model is getting confused

In [ ]:
from sklearn.metrics import confusion_matrix

y_preds = rfc.predict(x_test)
confusion_matrix(y_test, y_preds)

In [ ]:
#visualize the confusion matrix with pd.crosstab()

pd.crosstab(y_test, y_preds,
           rownames=['Actual Labels'],
           colnames=['Predicted Labels'])

In [ ]:
#when you add everything in that table, it'll equal 61 whic is the total of the x_test
24+2+35, len(x_test)

In [ ]:
#make my confusion matrix more visible with seaborn's heatmap()
import seaborn as sns

#set the font scale
sns.set(font_scale=1.4)

#create a confusion matrix
conf_matx = confusion_matrix(y_test, y_preds)

#plot it using seaborn
sns.heatmap(conf_matx)

##### How to install a conda package into the current environment from jn

* import sys (refers to your machine)
* !conda install --yes --prefix {sys.prefix} seaborn

##### creating a confusion matrix using scikit-learn
To check what version of sklearn you've installed: https://www.kite.com/python/answers/how-to-check-the-versions-of-nltk-and-scikit-learn-in-python#:~:text=3.4.3-,Use%20sklearn.,current%20version%20of%20scikit%2Dlearn%20.

In [ ]:
import sklearn

sklearn.__version__

In [ ]:
rfc

In [ ]:
## import confusionmatrixdisplay
from sklearn.metrics import ConfusionMatrixDisplay

ConfusionMatrixDisplay.from_estimator(rfc, x, y);

In [ ]:
#using predictions which requires a ready made prediction
ConfusionMatrixDisplay.from_predictions(y_true=y_test,
                                       y_pred=y_preds)

##### Classification Report